* {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    background-color: #FEFFDE;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    background-color: #DDFFBC;

    width: 90rem;
    height: 40rem;

    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

    border-radius: 12px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    color: #52734D;
}

@media (max-width: 980px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
        width: 45rem;
        height: 50rem;
    }

    .header-form {
        align-items: center;
    }

    .form {
        padding-left: 0;
    }

    input {
        width: 20rem !important;
    }
}

.header-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    padding-left: 5rem;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.8rem;
}

.form {
    padding-top: 1rem;

    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;

    padding-left: 5rem;

}

#input {
    width: 39rem;
    height: 2.5rem;

    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;

    font-size: 1.4rem;

    color: #52734D;

    background-color: #DDFFBC;
}

input:focus {
    border-bottom: 2px solid #52734D;
}

/* Autocomplete config */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #DDFFBC inset !important;
    -webkit-text-fill-color: #52734D !important;
}

button {
    width: 9rem;
    height: 3rem;

    border-radius: 4px;

    border: 2px solid #52734D;

    color: #52734D;
    font-weight: bold;
    font-size: 1.5rem;

    cursor: pointer;

    background-color: #91C788;

    transition: 300ms ease-in-out;
}

button:hover {

    color: #52734D;

    border: 2px solid #52734D;


    background-color: #DDFFBC;
}


.qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
}